table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  td {
    width: 50px;
  }